body {
    padding-top: 5rem;
}

.main-profile-area {
    width: 50%;
    margin: auto;
    text-align: center;
}

#upper-section {
    background-color: darkmagenta;
    color: white;
    padding-top: 15px;
    padding-bottom: 1px;
}

#profile-photo {
    width: 25em;
    height: 25em;
    border-radius: 50%;
    padding-bottom: 1em;
}

.bold {
    font-weight: bold;
}

#bio {
    text-align: left;
}

.grid-container {
    display: inline-grid;
    grid-template-columns: auto auto auto;
  }

  .grid-item {
    padding: 1em;
  }

  #follow {
      border-radius: 15%;
      background-color: darkmagenta;
      color: white;
      width: 5em;
      height: 2em;
  }